<div class="card mb-4">
    <div class="card-body">
        <div class="card-title mb-3">طلبات الموافقة</div>
        <div class="col-md-12">
            <table width="80%" class="table">
                <tr>
                    <th>
                        رقم الإجازة
                    </th>
                    <th>
                        اسم الموظف
                    </th>
                    <th>
                        تاريخ البداية
                    </th>
                    <th>
                        عدد الأيام
                    </th>
                    <th>
                        نوع الإجازة
                    </th>
                    <th>
                        الإجراء
                    </th>
                </tr>
                <tr>
                    <td>
                        1045167143
                    </td>
                    <td>
                        متعب الشمري
                    </td>
                    <td>
                        01/01/1441
                    </td>
                    <td>
                        5
                    </td>
                    <td>
                        اعتيادية
                    </td>
                    <td>
                        <button class="btn btn-outline-primary btn-rounded" (click)="open(modalLong)">عرض
                            التفاصيل</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        1010101010
                    </td>
                    <td>
                        خالد اباحسين
                    </td>
                    <td>
                        01/01/1441
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        اعتيادية
                    </td>
                    <td>
                        <button class="btn btn-outline-primary btn-rounded" (click)="open(modalLong)">عرض
                            التفاصيل</button>
                    </td>
                </tr>

            </table>

        </div>
    </div>
</div>