<div class="breadcrumb">
    <h1>خدمة الإجازات</h1>
    <ul>
        <li>طلب الإجازة</li>

    </ul>
</div>

<div class="separator-breadcrumb border-top"></div>
<div class="row">
    <div class="col-md-6">
        <app-leave-applications-form>
            <div class="loader-bubble loader-bubble-primary d-block">انتظر</div>
        </app-leave-applications-form>
    </div>
    <div class="col-md-6">
        <app-leave-balances>
            <div class="loader-bubble loader-bubble-primary d-block">انتظر</div>
        </app-leave-balances>

    </div>
</div>
